 {% extends "home/base.html" %}{% load static %} {% block content %}


<div class="section section-lg pb-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="h5">Product Cards</h2>
            </div>
        </div>
    </div>
</div>


<div class="section section-lg py-5">
    <div class="container">
        <div class="row ">

            <div class="col-auto col-sm-6 col-lg-4 mb-5">
                <div class="card shadow"><img src="{% static 'assets/img/item-1.png' %}" height="250px" alt="black watch">
                    <div class="card-footer border-top border-gray-300 p-4"><a href="#" class="h5">Apple Watch Series 3</a>
                        <h3 class="h6 fw-light text-gray mt-2">Space Gray Aluminum Case with Black Sport Band</h3>
                        <div class="d-flex mt-3"><span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span>                            <span class="star fas fa-star text-warning"></span> <span class="badge bg-primary ms-2">4.7</span></div>
                        <div class="d-flex justify-content-between align-items-center mt-3"><span class="h5 mb-0 text-gray">$299.00</span> <a class="btn btn-xs btn-tertiary" href="#"><span class="fas fa-cart-plus me-2"></span> Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-6 col-lg-4 mb-5">
                <div class="card shadow"><img src="{% static 'assets/img/item-1.png' %}" height="250px" alt="black watch">
                    <div class="card-footer border-top border-gray-300 p-4"><a href="#" class="h5">Apple Watch Series 3</a>
                        <h3 class="h6 fw-light text-gray mt-2">Space Gray Aluminum Case with Black Sport Band</h3>
                        <div class="d-flex mt-3"><span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span>                            <span class="star fas fa-star text-warning"></span> <span class="badge bg-primary ms-2">4.7</span></div>
                        <div class="d-flex justify-content-between align-items-center mt-3"><span class="h5 mb-0 text-gray">$299.00</span> <a class="btn btn-xs btn-tertiary" href="#"><span class="fas fa-cart-plus me-2"></span> Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-4 mb-5">
                <div class="card shadow"><img src="{% static 'assets/img/item-1.png' %}" height="250px" alt="black watch">
                    <div class="card-footer border-top border-gray-300 p-4"><a href="#" class="h5">Apple Watch Series 3</a>
                        <h3 class="h6 fw-light text-gray mt-2">Space Gray Aluminum Case with Black Sport Band</h3>
                        <div class="d-flex mt-3"><span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span>                            <span class="star fas fa-star text-warning"></span> <span class="badge bg-primary ms-2">4.7</span></div>
                        <div class="d-flex justify-content-between align-items-center mt-3"><span class="h5 mb-0 text-gray">$299.00</span> <a class="btn btn-xs btn-tertiary" href="#"><span class="fas fa-cart-plus me-2"></span> Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-4 mb-5">
                <div class="card shadow"><img src="{% static 'assets/img/item-1.png' %}" height="250px" alt="black watch">
                    <div class="card-footer border-top border-gray-300 p-4"><a href="#" class="h5">Apple Watch Series 3</a>
                        <h3 class="h6 fw-light text-gray mt-2">Space Gray Aluminum Case with Black Sport Band</h3>
                        <div class="d-flex mt-3"><span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span>                            <span class="star fas fa-star text-warning"></span> <span class="badge bg-primary ms-2">4.7</span></div>
                        <div class="d-flex justify-content-between align-items-center mt-3"><span class="h5 mb-0 text-gray">$299.00</span> <a class="btn btn-xs btn-tertiary" href="#"><span class="fas fa-cart-plus me-2"></span> Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-4 mb-5">
                <div class="card shadow"><img src="{% static 'assets/img/item-1.png' %}" height="250px" alt="black watch">
                    <div class="card-footer border-top border-gray-300 p-4"><a href="#" class="h5">Apple Watch Series 3</a>
                        <h3 class="h6 fw-light text-gray mt-2">Space Gray Aluminum Case with Black Sport Band</h3>
                        <div class="d-flex mt-3"><span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span>                            <span class="star fas fa-star text-warning"></span> <span class="badge bg-primary ms-2">4.7</span></div>
                        <div class="d-flex justify-content-between align-items-center mt-3"><span class="h5 mb-0 text-gray">$299.00</span> <a class="btn btn-xs btn-tertiary" href="#"><span class="fas fa-cart-plus me-2"></span> Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-lg-4 mb-5">
                <div class="card shadow"><img src="{% static 'assets/img/item-1.png' %}" height="250px" alt="black watch">
                    <div class="card-footer border-top border-gray-300 p-4"><a href="#" class="h5">Apple Watch Series 3</a>
                        <h3 class="h6 fw-light text-gray mt-2">Space Gray Aluminum Case with Black Sport Band</h3>
                        <div class="d-flex mt-3"><span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span> <span class="star fas fa-star text-warning me-1"></span>                            <span class="star fas fa-star text-warning"></span> <span class="badge bg-primary ms-2">4.7</span></div>
                        <div class="d-flex justify-content-between align-items-center mt-3"><span class="h5 mb-0 text-gray">$299.00</span> <a class="btn btn-xs btn-tertiary" href="#"><span class="fas fa-cart-plus me-2"></span> Add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}